In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import rcParams
import math
import csv
import re
from datetime import datetime

import os.path
from os import path
import time

c:\python37\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\python37\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\python37\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
fontsize_reg = 12
fontsize_title = 16
from pylab import rcParams
plt.rcParams['figure.facecolor'] = '1'
plt.rcParams['figure.figsize'] = [8.0, 3.5]
plt.rcParams['figure.dpi'] = 80
plt.rcParams['savefig.dpi'] = 600

plt.rcParams['font.size'] = 12
plt.rcParams['legend.fontsize'] = 'large'
plt.rcParams['figure.titlesize'] = 'large'

plt.rcParams['axes.axisbelow'] = True

In [8]:
submission_auto_ml_3_00 = pd.read_csv('submission_3-00.csv')
submission_auto_ml_3_00.sample()

       NPLV        TST         C
154  512541  1655.1599  0.075093

In [28]:
submission_lightgbm_ml_23_45 = pd.read_csv('submissions/2021-10-30-23-45.csv')
submission_lightgbm_ml_23_46 = pd.read_csv('submissions/2021-10-30-23-46.csv')
submission_lightgbm_ml_23_45.sample()

       NPLV     TST       C
481  512982  1642.5  0.0525

In [37]:
new_df = (submission_auto_ml_3_00 + submission_lightgbm_ml_23_46) / 2

In [38]:
new_df['NPLV'] = new_df['NPLV'].astype('int')

In [39]:
new_df.sample()

      NPLV          TST         C
21  512369  1651.776713  0.044832

In [40]:
new_df.to_csv('submission_9-20.csv')